@import 'src/style-imports.scss';

.page {
  background-color: white;
}

main {
  & > article {
    display: flex;
    flex-direction: row;

    margin: 3rem 0 15rem;
    @media #{$mobtab} {
      margin: 8rem 0 13rem;
    }

    & > section {
      flex: 1;

      @include anim-fade-in-vertical(login-form, -3rem, 0.4s);
      @media #{$tablet} {
        @include anim-fade-in-horizontal(login-section, -5rem, 0.6s);
      }
    }

    & > aside {
      flex: 1;
      @include anim-fade-in-horizontal(login-aside, 5rem, 0.6s);

      display: none;
      align-items: center;
      justify-content: flex-end;
      & > img {
        width: 100%;
        max-width: 65rem;
        margin-bottom: 4rem;
        &.signup-img {
          margin-bottom: 6rem;
        }
      }
      @media #{$tablet} {
        display: flex;
        @include anim-fade-in-horizontal(login-aside, 5rem, 0.6s);
      }
    }
  }
}

.form-container {
  //background-color: #fcfcfc;

  width: 100%;
  max-width: 42rem;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4em;
    & h2 {
      font-size: 2.8rem;
    }
  }
  & label {
    font-size: 1.4rem;
  }
  & label.label-big-input {
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    margin: 2rem 0 0.5rem;

    & input {
      margin-top: 1.2rem;
      width: 100%;
      //border: solid 0.1rem $c-iconbg;
    }
  }
  & label.label-checkbox {
    & input {
      transform: translateY(0.25rem);
    }
  }

  & .login-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }

  & .submit-container {
    margin-top: 5rem;
    & > button {
      width: 100%;
    }
  }

  margin: auto;
  padding: 2rem;

  @media #{$tablet} {
    & {
      margin: 0;
    }
  }
}

.main-header__inner {
  justify-content: center;
  @media #{$tablet} {
    justify-content: space-between;
  }
}

.input-error {
  display: none;
  margin: 0.6rem 1rem;
  color: $c-error;
  font-size: 1.2rem;
  @include anim-fade-in-vertical(login-error, -1.5rem, 0.4s, ease-out);
  &.shown {
    display: block;
  }
  &.big {
    height: 2rem;
    margin: 2rem 0 -4rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
