$primary-color: #1db954;
$primary-color2: #1db954;
$primary-color1: #00ca54;
$secondary-color: #06b9f0;

$g1: #191414;
$g2: #292929;
$g3: #333333;
$g4: #4b4b4b;
$g5: #5a5a5a;
$g6: #888888;
$g7: #c9c9c9;
$g8: #f7f7fa;
$g9: #fbfafa;
$g10: #fefdfc;

$c-title: #1f202e;
$c-subtitle: #95959b;
$c-inputbg: #f4f4f5;
$c-inputbg-onbg: #ededef;
$c-inputfg: #65656f;
$c-itembg: #f8f8f9;
$c-iconfg: #272835;
$c-iconbg: #e0e0e2;

$c-star: #ffc542;
$c-empty-star: #ededef;
$c-heart: #f83c55;

$c-link: #0947f1;
$c-link-visited: #791de2;

$c-error: #f14c62;
