<section class="main-banner">
  <div class="page-section-inner">
    <div class="main-banner__body">
      <div class="flex-spacer"></div>
      <div class="main-banner__body__title-box">
        <h3 class="main-banner__body__title">صفحه نخست</h3>
        <h1 class="main-banner__body__slogan">
          به <span>صدای قلبت</span> گوش کن،<br />
          با <span>ضربان قلبت</span> حرکت کن!
        </h1>
        <p class="main-banner__body__info">
          تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br />
          چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
        </p>
      </div>
      <div class="flex-spacer"></div>
      <button class="main-banner__body__learn-more widest big primary">اطلاعات بیشتر</button>
    </div>
  </div>
</section>
