<div class="page">
  <main-header [isOver]="true"></main-header>
  <homepage-banner></homepage-banner>

  <page-section [title]="'خدمات ما'" [description]="'چه چیزی تجربه خواهید کرد؟'" [hasFooter]="false">
    <div body>
      <div class="services-row">
        <service-card [title]="'ساخت Playlist'" [icon]="'assets/images/home/icons/book.svg#icon'" [id]="1">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
          بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
        </service-card>
        <service-card [title]="'بارگذاری آهنگ ها'" [icon]="'assets/images/home/icons/cloud.svg#icon'" [id]="2">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
          بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
        </service-card>
        <service-card [title]="'کیفیت صدا'" [icon]="'assets/images/home/icons/sound-waves.svg#icon'" [id]="3">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
          بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
        </service-card>
        <service-card [title]="'هنرمندان سراسر ایران'" [icon]="'assets/images/home/icons/microphone.svg#icon'" [id]="4">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
          بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
        </service-card>
      </div>
    </div>
    <div footer></div>
  </page-section>

  <page-section [title]="'در Spotify چه میگذرد؟'" [description]="'درباره ما'" [alternate]="true">
    <div body>
      <p class="section-about-us__important-text">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
        بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته.
      </p>
    </div>
    <div footer>
      <button href="#" class="primary">اطلاعات بیشتر</button>
    </div>
  </page-section>

  <page-section [title]="'انواع موسیقی ها'" [description]="'دسته بندی'" [alternate]="false" [hasFooter]="false">
    <div body>
      <div class="row-parts row-parts--reverse">
        <div class="row-part--big">
          <img src="assets/images/home/gens/classic.jpg" alt="" width="100%" class="general-img" />
        </div>
        <div class="row-part--text">
          <h2>موسیقی کلاسیک</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
            با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته. لورم ایپسوم متن ساختگی با تولید
            سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
            می باشد. کتابهای زیادی در شصت و سه درصد گذشته.
          </p>
          <div class="spacer"></div>
          <div>
            <button href="#" class="border">آهنگ ها</button>
          </div>
        </div>
      </div>
    </div>
  </page-section>
  <page-section [alternate]="true" [hasFooter]="false">
    <div body>
      <div class="row-parts">
        <div class="row-part--big">
          <img src="assets/images/home/gens/pop.jpg" alt="" width="100%" class="general-img" />
        </div>
        <div class="row-part--text">
          <h2>موسیقی Pop</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
            با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته. لورم ایپسوم متن ساختگی با تولید
            سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
            می باشد. کتابهای زیادی در شصت و سه درصد گذشته.
          </p>
          <div class="spacer"></div>
          <div>
            <button href="#" class="border">آهنگ ها</button>
          </div>
        </div>
      </div>
    </div>
  </page-section>
  <page-section [alternate]="false" [hasFooter]="false">
    <div body>
      <div class="row-parts row-parts--reverse">
        <div class="row-part--big">
          <img src="assets/images/home/gens/hip-hop.jpg" alt="" width="100%" class="general-img" />
        </div>
        <div class="row-part--text">
          <h2>موسیقی Hip-Hop</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
            با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته. لورم ایپسوم متن ساختگی با تولید
            سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
            می باشد. کتابهای زیادی در شصت و سه درصد گذشته.
          </p>
          <div class="spacer"></div>
          <div>
            <button href="#" class="border">آهنگ ها</button>
          </div>
        </div>
      </div>
    </div>
  </page-section>
  <page-section [alternate]="true" [hasFooter]="false">
    <div body>
      <div class="row-parts">
        <div class="row-part--big">
          <img src="assets/images/home/gens/persian-classic.jpg" alt="" width="100%" class="general-img" />
        </div>
        <div class="row-part--text">
          <h2>موسیقی ایرانی سنتی</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
            با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته. لورم ایپسوم متن ساختگی با تولید
            سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
            می باشد. کتابهای زیادی در شصت و سه درصد گذشته.
          </p>
          <div class="spacer"></div>
          <div>
            <button href="#" class="border">آهنگ ها</button>
          </div>
        </div>
      </div>
    </div>
  </page-section>

  <main-footer></main-footer>

  <!--
<ul class="oo--kk">
  <li *ngFor="let item of list" (click)="clg(item)">
    id: {{ item.id }}
    <br />
    name: {{ item.name }}
  </li>
</ul>
-->

  <!-- <app-details-test [data]="selectedItem"></app-details-test> -->
</div>
