@font-face {
  font-family: "Shabnam";
  src: url("../../res/fonts/shabnam/Shabnam-FD.ttf");
}
@font-face {
  font-family: "Shabnam";
  src: url("../../res/fonts/shabnam/Shabnam-Bold-FD.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Shabnam";
  src: url("../../res/fonts/shabnam/Shabnam-Medium-FD.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Shabnam";
  src: url("../../res/fonts/shabnam/Shabnam-Thin-FD.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Shabnam";
  src: url("../../res/fonts/shabnam/Shabnam-Light-FD.ttf");
  font-weight: 300;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Shabnam";
  direction: rtl;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  background-color: #fafafa;
}

.main-header {
  height: 8rem;
  background-color: #1a1a1a;
  position: relative;
  user-select: none;
  z-index: 10;
}
.main-header a {
  outline: none;
}
.main-header__inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 110rem;
  height: 100%;
  width: 100%;
}
.main-header__logo-container {
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0 1.8rem;
  color: #e9e9e9;
  transition: color 0.12s ease-out;
}
.main-header__logo-container:hover {
  color: #00ca54;
}
.main-header__logo-container__logo {
  height: calc(2rem * 1.7);
  width: calc(6.3rem * 1.7);
}
.main-header__nav {
  display: none;
}
.main-header__nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.main-header__nav > ul li {
  list-style-type: none;
  height: 100%;
}
.main-header__nav > ul li > a {
  display: block;
  height: 100%;
  padding: 0 1.8rem;
  line-height: 8rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #e9e9e9;
  transition: all 0.12s ease-out;
  transition-property: color, padding;
}
.main-header__nav > ul li > a:hover {
  color: #00ca54;
}
.main-header__nav__seperator {
  width: 0.1rem;
  height: 1.8rem !important;
  margin: 0 1.8rem;
  background-color: #e9e9e9;
}
.main-header__hamburger-container {
  background: none;
  border: none;
  padding: 0 1.8rem;
  line-height: 6.6rem;
  cursor: pointer;
  display: block;
}
.main-header__hamburger-container__hamburger {
  color: #e9e9e9;
  transition: color 0.12s ease-out;
  width: 2.6rem;
  height: 2.6rem;
}
.main-header__hamburger-container:hover .main-header__hamburger-container__hamburger {
  color: #00ca54;
}
.main-header__hamburger-container > input {
  display: none;
}
.main-header__hamburger-container > input:checked + svg + div > .ham-menu-container__ham-menu {
  transform: translateX(0);
}

.ham-menu-container {
  width: 0;
  height: 0;
}
.ham-menu-container__ham-menu {
  position: fixed;
  z-index: 5;
  width: 40rem;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.2s;
  transform: translateX(-100%);
  background-color: darkgray;
}

@media (min-width: 0px) {
  .main-header {
    height: 5rem;
  }
}
@media (min-width: 992px) {
  .main-header {
    height: 8rem;
  }
  .main-header__inner {
    max-width: 96rem;
  }
  .main-header__nav {
    display: initial;
  }
  .main-header__hamburger-container {
    display: none;
  }
  .main-header__logo-container__logo {
    height: calc(2rem * 2.2);
    width: calc(6.3rem * 2.2);
  }
}
@media (min-width: 1200px) {
  .main-header__inner {
    max-width: 117rem;
  }
}
.page-section {
  width: 100%;
}

.page-section-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (min-width: 0px) {
  .page-section-inner {
    max-width: unset;
  }
}
@media (min-width: 992px) {
  .page-section-inner {
    max-width: 96rem;
  }
}
@media (min-width: 1200px) {
  .page-section-inner {
    max-width: 117rem;
  }
}

.colorpalletes {
  color: #d8318a;
  color: #f26c7d;
  color: #e37439;
  color: #4daaa7;
  color: #3f8f8b;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password] {
  font-family: inherit;
  border: solid 0.1rem #dedede;
  border-radius: 0.3rem;
  padding: 0.2rem 0.8rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0 rgba(0, 202, 84, 0.15);
  outline: none;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: #ccc;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  box-shadow: 0 0 0 0.3rem rgba(0, 202, 84, 0.15);
  border-color: #3bf588;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  border: solid 0.1rem #cecece;
  background-color: #fafafa;
  line-height: 100%;
  position: relative;
  padding: 0.8rem 1.4rem;
  font-size: 1.5rem;
}
button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  border-radius: 0.3rem;
  transition: box-shadow 0.4s;
  box-shadow: 0 0 0 0.5rem transparent;
}
button:active::after {
  box-shadow: 0 0 0 0 rgba(0, 202, 84, 0.9);
  transition: box-shadow 0s;
}
button:focus {
  border-color: #3bf588 !important;
}
button.big {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
button.primary {
  background-color: #00ca54;
  color: white;
  border-color: #00ca54;
}

label {
  user-select: none;
}

.label-checkbox {
  cursor: pointer;
}

.main-footer {
  background-color: #1a1a1a;
  color: white;
  font-size: 1.4rem;
  padding: 1.2rem 0;
}

/*# sourceMappingURL=global.css.map */
