body {
  background-color: #fefdfc;
}
body > main > article {
  display: flex;
  flex-direction: row;
  margin: 3rem 0 15rem;
}
@media (min-width: 540px) {
  body > main > article {
    margin: 8rem 0 13rem;
  }
}
body > main > article > section {
  flex: 1;
  animation: login-form 0.4s ease;
}
@keyframes login-form {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width: 992px) {
  body > main > article > section {
    animation: login-section 0.6s ease;
  }
  @keyframes login-section {
    from {
      transform: translateX(-5rem);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
body > main > article > aside {
  flex: 1;
  animation: login-aside 0.6s ease;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
@keyframes login-aside {
  from {
    transform: translateX(5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body > main > article > aside > img {
  width: 100%;
  max-width: 65rem;
  margin-bottom: 4rem;
}
body > main > article > aside > img.signup-img {
  margin-bottom: 6rem;
}
@media (min-width: 992px) {
  body > main > article > aside {
    display: flex;
    animation: login-aside 0.6s ease;
  }
  @keyframes login-aside {
    from {
      transform: translateX(5rem);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.form-container {
  width: 100%;
  max-width: 42rem;
  margin: auto;
  padding: 2rem;
}
.form-container > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4em;
}
.form-container > header h2 {
  font-size: 2.8rem;
}
.form-container label {
  font-size: 1.4rem;
}
.form-container label.label-big-input {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
  margin: 2rem 0 0.5rem;
}
.form-container label.label-big-input input {
  margin-top: 1.2rem;
  width: 100%;
}
.form-container label.label-checkbox input {
  transform: translateY(0.25rem);
}
.form-container .login-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
}
.form-container .signup-submit-container {
  text-align: left;
  margin-top: 4em;
}
.form-container .signup-submit-container > button {
  width: 100%;
}
.form-container .form-footer {
  margin-top: 3em;
  text-align: left;
  font-size: 1.3rem;
}
@media (min-width: 992px) {
  .form-container {
    margin: 0;
  }
}

.main-header__inner {
  justify-content: center;
}
@media (min-width: 992px) {
  .main-header__inner {
    justify-content: space-between;
  }
}

.input-error {
  display: none;
  margin: 0.6rem 1rem;
  color: #f14c62;
  font-size: 1.2rem;
  animation: login-error 0.4s ease-out;
}
@keyframes login-error {
  from {
    transform: translateY(-1.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.input-error.shown {
  display: block;
}
.input-error.big {
  height: 2rem;
  margin: 1.5rem 0 -3.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

/*# sourceMappingURL=login.css.map */
