$primary-color: #1db954;
$primary-colo123r: #00ca54;
$secondary-color: #06b9f0;

$g1: #191414;
$g2: #292929;
$g3: #333333;
$g4: #4b4b4b;
$g5: #5a5a5a;
$g6: #6e6e6e;
$g7: #c9c9c9;
$g8: #f0f0f0;
$g9: #fafafa;
