body {
  > main {
    > article {
      > section {
        font-size: 1.6rem;
        > img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  main {
    > article {
      > section {
        font-size: 1.4rem;
        > img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
